@font-face {
  font-family: "Utopia";
  src: url("fonts/Utopia-Std-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Utopia";
  src: url("fonts/Utopia-Std-Caption.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("fonts/Futura-Demi.ttf");
  font-weight: normal;
  font-weight: normal;
}

img {
  max-width: 100%;
  max-height: 100%
}

.page {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 100%;
}

.page_middle {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 100vh;
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.col_title {
  color: #c08b19;
  font-family: Futura;
}

.col_p {
    color: #02a167;
    font-family: Utopia;
    font-size: 14pt;
    margin-bottom: 0.5rem;
}

.divider {
  color: #c08b19;
  font-family: Futura;
}

.titlepage {
  float: left;
  width: 45%;
  color: #02a167;
  font-family: Utopia;
  font-style: italic;
  font-size: 18px;
}

.logo_container {

}

.logo_img {
  float: left;
  width: 55%;
  height: 100%;
}

.arrow_row {
  text-align: center;
  position:relative;
  bottom: 0;
}

.arrow {
  width: 100px;
}
