@font-face {
  font-family: "Utopia";
  src: url("fonts/Utopia-Std-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Utopia";
  src: url("fonts/Utopia-Std-Caption.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("fonts/Futura-Demi.ttf");
  font-weight: normal;
  font-weight: normal;
}

img {
  max-width: 100%;
  max-height: 100%
}

p { hyphens: auto; }

.page {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 100%;
}

.page_middle {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 100vh;
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.content_middle {
    margin-top: 60px;
    margin-bottom: 60px;
}

.col_title {
  color: #c08b19;
  font-family: Futura;
}

.col_p {
    color: #02a167;
    font-family: Utopia;
    font-size: 14pt;
    margin-bottom: 0.5rem;
}

.divider {
  color: #c08b19;
  font-family: Futura;
}

.titlepage {
  text-align: left;
  display: inline-block;
  /*width: 45%;*/
  padding-left: 364px;
  color: #02a167;
  font-family: Utopia;
  font-style: italic;
  font-size: 18px;
}
.content_1 {
  text-align: center;
}
.logo_container {
    position: relative;
    margin: 0 auto;
}

.logo_img {
  display: inline-block;
  position: absolute;
  height: 100%;
}

.arrow_row_top {
    text-align: center;
    position:absolute;
    top: 0;
    width: 100%;
}

.arrow_row_bottom {
  text-align: center;
  position:absolute;
  bottom: 0;
  width: 100%;
}

.arrow_bottom {
  height: 20px;
  margin-bottom: 10px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.arrow_top {
  height: 20px;
  margin-top: 10px;
}



@media (min-width: 690px) and (min-height:800px) {
  .content_middle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
}
